@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$font-family: 'Roboto';

.v-application {
  [class*='text-'] {
    font-family: $font-family, sans-serif !important;
  }

  font-family: $font-family, sans-serif !important;
}